<mat-toolbar
  style="
    background: -webkit-linear-gradient(
      to right,
      #021b79,
      #0575e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #021b79,
      #0575e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  "
>
  <button
    type="button"
    (click)="drawer.toggle()"
    mat-icon-button
    class="toggler"
  >
    ☰
  </button>
  <span
    style="
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      margin-left: 20px;
    "
    ><img src="../../../assets/images/title.png" alt=""
  /></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
    style="
      background: -webkit-linear-gradient(
        to right,
        #021b79,
        #0575e6
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #021b79,
        #0575e6
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    "
  >
    <div *ngIf="profile?.image">
      <img class="avatar mat-elevation-z8" src="{{ profile?.image }}" />
    </div>

    <div *ngIf="!profile?.image">
      <img
        class="avatar mat-elevation-z8"
        src="../../../assets/profile.png"
        alt=""
      />
    </div>
    <h4 class="name">Dr.{{ profile?.displayName }}</h4>
    <p class="designation">{{ profile?.department }}</p>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      href=""
      class="nav-item nav-link active"
      routerLink="/home"
      routerLinkActive="active"
      ><mat-icon>home</mat-icon> Home</a
    >

    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/profile"
      routerLinkActive="active"
      ><mat-icon>contact_page</mat-icon>Profile</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      href="/tasks"
      routerLinkActive="active"
      ><mat-icon>assignment</mat-icon>Tasks</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/convolist"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon
      ><span matBadge="" matBadgeOverlap="false">Chat</span></a
    >
    <hr />
    <a
      mat-raised-button
      class="nav-item nav-link pointer _logout"
      *ngIf="user?.uid"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Logout</a
    >

    <!-- <a
      mat-list-item
      class="nav-item nav-link pointer"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Logout</a
    > -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="c-subheader justify-content-between px-3">
      <!-- Breadcrumb-->
      <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item">
          <a href="/home" class="_homeLink"
            ><i class="bi bi-house-door-fill"></i
          ></a>
        </li>
        <li class="breadcrumb-item active" style="color: #fff">Chat Board</li>
        <!-- Breadcrumb Menu-->
      </ol>
    </div>
    <div class="content-wrapper">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="weather-card one">
                <div class="top">
                  <div class="wrapper">
                    <div class="mynav">
                      <a href="javascript:;"
                        ><span class="lnr lnr-chevron-left"></span
                      ></a>
                      <a href="javascript:;"
                        ><span class="lnr lnr-cog"></span
                      ></a>
                    </div>
                    <h1 class="heading mb-2"></h1>
                    <h3 class="location"></h3>
                    <p class="temp">
                      <span class="temp-value"
                        ><strong>{{ chatname }}</strong></span
                      >
                      <br />
                    </p>
                    <span class="deg" style="color: #fff"
                      >Please a user to chat with</span
                    >
                  </div>
                </div>
                <div class="bottom">
                  <div class="wrapper">
                    <div class="example-loading-shade" *ngIf="isLoadingResults">
                      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    </div>
                    <table
                      mat-table
                      [dataSource]="conversations"
                      class="example-table"
                      matSort
                      matSortActive="roomname"
                      matSortDisableClear
                      matSortDirection="asc"
                    >
                      <ng-container matColumnDef="roomname">
                        <th
                          mat-header-cell
                          *matHeaderCellDef
                          style="font-size: 20px"
                        >
                          <span class="deg" style="text-align: center"
                            ><app-addusers></app-addusers
                          ></span>
                        </th>

                        <div class="convo">
                          <div mat-cell *matCellDef="let row">
                            <div
                              *ngIf="row.show"
                              class="convo"
                              (click)="getConvo(row)"
                            >
                              <mat-card
                                class="mt-3 _chatbtn animated bounceInUp"
                              >
                                {{ row.displayName }}
                              </mat-card>
                            </div>
                          </div>
                        </div>
                      </ng-container>

                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                        (click)="enterChatRoom(row.displayName)"
                      ></tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="weather-card rain">
                <div class="top">
                  <div class="wrapper">
                    <div class="mynav">
                      <a href="javascript:;"
                        ><span class="lnr lnr-chevron-left"></span
                      ></a>
                      <a href="javascript:;"
                        ><span class="lnr lnr-cog"></span
                      ></a>
                    </div>
                    <h1 class="heading"></h1>
                    <h3 class="location"></h3>
                    <p class="temp">
                      <span class="temp-value">{{ chatname }}</span
                      ><br />
                      <span class="deg">Add rooms here!</span>
                      <a href="javascript:;"><span class="temp-type"></span></a>
                    </p>
                  </div>
                </div>
                <div class="bottom">
                  <div class="wrapper">
                    <span class="date"><app-add-room></app-add-room></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
