<div class="sidenav">
  <div class="login-main-text">
    <img
      src="assets/images/cooltext425103528013474.png"
      alt="LOGO"
      height="300px"
      width="400px"
    />
  </div>
</div>
<div class="main">
  <!-- <img src="assets/images/chat.jpg" alt=""> -->
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form class="fade-in-text">
        <button mat-raised-button (click)="loginGoogle()" class="google">
          Signin with Google
        </button>
        <br />
        <small class="or center">or</small>
        <br />
        <button mat-raised-button routerLink="/email-login" class="email">
          Signin with Email
        </button>
        <br />

        <br />
      </form>
    </div>
  </div>
</div>
