/* .consult {
  background: url(../../../../assets/images/photo-1528460033278-a6ba57020470.avif);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
} */

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  padding: 0;
  margin: 0;
}

.header {
  color: black;
}

.auth-btn {
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width: 100%;
  border-radius: 50px;
}

.forgot-btn {
  margin-left: 5.5rem;
  color: #fff;
  border-radius: 50px;
  /* width: 80%; */
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  width: 100% !important;
}

.text {
  text-decoration: none;
}

/* new */

.card {
  padding: 0px 20px;
  border-radius: 50px;
  box-shadow: -10px 10px 0px #2948ff, -20px 20px 0px #0575e6,
    -30px 30px 0px #2287ec, -40px 40px 0px #80b8f0;
  border: solid 2px #021b79;
}

.c1 {
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  margin: 0px;
  font-size: 13px;
  border-radius: 7px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ffffff;
  background-color: #003060;
}

.nav-link {
  padding: 1rem 1.4rem;
}

.ac {
  font-weight: bold;
  color: #003060;
  font-size: 12px;
  font-family: Comfortaa;
}
/* img {
  background-color: #7D7676;
} */

.wlcm {
  font-size: 30px;
  color: #ffffff;
}

.sp1 {
  font-size: 5px;
}

.sp1 > span {
  background-color: #003060;
}
