<mat-toolbar>
  <!-- <button type="button" (click)="drawer.toggle()" mat-icon-button class="toggler">
    ☰
  </button> -->

  <span
    style="
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      margin-left: 20px;
    "
    ><img src="../../../../../assets/images/title.png" alt=""
  /></span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
  >
    <img class="avatar mat-elevation-z8" src="" />
    <h4 class="name">Dr.</h4>
    <p class="designation"></p>
    <mat-divider></mat-divider>

    <a
      mat-list-item
      href=""
      class="nav-item nav-link active"
      routerLink="/home"
      routerLinkActive="active"
      ><mat-icon>home</mat-icon> Home</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/profile"
      routerLinkActive="active"
      ><mat-icon>contact_page</mat-icon>Profile</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      href="/patients"
      routerLinkActive="active"
      ><mat-icon>assignment</mat-icon>Page</a
    >

    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/convolist"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon
      ><span matBadge="" matBadgeOverlap="false">Chat</span></a
    >

    <!-- <a
      mat-list-item
      class="nav-item nav-link pointer"
      *ngIf="(user | async)?.uid"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Logout</a
    > -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="c-subheader justify-content-between px-3">
      <!-- Breadcrumb-->
      <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item">
          <a href="/home" class="_homeLink"
            ><i class="bi bi-house-door-fill"></i
          ></a>
        </li>
        <li class="breadcrumb-item active" style="color: #fff">Tasks Board</li>
        <!-- Breadcrumb Menu-->
      </ol>
    </div>
    <div class="content-wrapper" style="margin-top: 50px">
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="row">
            <div class="tabs col-md-11">
              <mat-tab-group
                animationDuration="0ms"
                mat-align-tabs="center"
                #tabGroup
                [selectedIndex]="activeTab"
              >
                <!-- common tasks -->
                <mat-tab class="kanban" label="Kanban"
                  ><br />
                  <app-tasks></app-tasks>
                </mat-tab>
                <!-- calendar -->
                <mat-tab class="cal" label="Calendar"
                  ><br />
                  <app-task-calendar></app-task-calendar>
                </mat-tab>
              </mat-tab-group>
            </div>
            <div class="small-screen">
              <app-tasks></app-tasks>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
