<input type="radio" id="s-1" name="slider-control" checked="checked" />
<input type="radio" id="s-2" name="slider-control" />
<input type="radio" id="s-3" name="slider-control" />
<div class="js-slider">
  <figure class="js-slider_item img-1">
    <div class="js-slider_img">
      <mat-card>
        <img class="c-img-w-full" src="../../assets/images/nurses.jpg" alt="" />
      </mat-card>
    </div>
    <figcaption class="wo-caption">
      <h3 class="wo-h3">
        <div class="c-label animated bounceInUp">
          <a class="get">WELCOME to Hospital Management System</a>
        </div>
        <p style="text-align: center">
          <small
            ><a
              href="/login"
              mat-raised-button
              style="
                margin-top: 20px;
                width: 30%;
                background: #d31027; /* fallback for old browsers */
                background: -webkit-linear-gradient(
                  to right,
                  #ea384d,
                  #d31027
                ); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(
                  to right,
                  #ea384d,
                  #d31027
                ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                color: #fff;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
                  0 6px 20px 0 rgba(0, 0, 0, 0.19);
              "
              >skip</a
            ></small
          >
        </p>
      </h3>

      <h2 class="wo-credit text-center fade-in-text">
        There is an inability for clinical officers to get the right information
        at the right time due to lack of proper communication and collaboration
        tools.
      </h2>
    </figcaption>
  </figure>
  <figure class="js-slider_item img-2">
    <div class="js-slider_img">
      <img class="c-img-h-full" src="../../assets/images/doc.jpg" alt="" />
    </div>
    <figcaption class="wo-caption">
      <h3 class="wo-h3 text-center">
        <div class="c-label"><a class="get">Solution</a></div>
      </h3>
      <h2 class="wo-credit text-center fade-in-text">
        This is a web application that brings all clinical communication into
        one platform.
      </h2>
    </figcaption>
  </figure>
  <figure class="js-slider_item img-3">
    <div class="js-slider_img">
      <img class="c-img-h-full" src="../../assets/images/doctors.jpg" alt="" />
    </div>
    <figcaption class="wo-caption">
      <h3 class="wo-h3 text-center">
        <div class="c-label"><a class="get">FEATURES</a></div>
        <p style="text-align: center">
          <small
            ><a
              href="/login"
              mat-raised-button
              style="
                margin-top: 20px;
                width: 30%;
                background: #d31027; /* fallback for old browsers */
                background: -webkit-linear-gradient(
                  to right,
                  #ea384d,
                  #d31027
                ); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(
                  to right,
                  #ea384d,
                  #d31027
                ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                color: #fff;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
                  0 6px 20px 0 rgba(0, 0, 0, 0.19);
              "
              >GET STARTED</a
            ></small
          >
        </p>
      </h3>
      <h2 class="wo-credit text-center">
        <ul>
          <li>
            Create tasks to be carried out on a specified date and assign to a
            teacher.
          </li>
          <li>Direct Communication between two teachers.</li>
          <li>Multiple chat rooms.</li>

          <li>School Directory.</li>
        </ul>
      </h2>
    </figcaption>
  </figure>
  <div class="js-slider_nav">
    <label class="js-slider_nav_item s-nav-1 prev" for="s-3"></label>
    <label class="js-slider_nav_item s-nav-1 next" for="s-2"></label>
    <label class="js-slider_nav_item s-nav-2 prev" for="s-1"></label>
    <label class="js-slider_nav_item s-nav-2 next" for="s-3"></label>
    <label class="js-slider_nav_item s-nav-3 prev" for="s-2"></label>
    <label class="js-slider_nav_item s-nav-3 next" for="s-1"></label>
  </div>
  <div class="js-slider_indicator">
    <div class="js-slider-indi indi-1"></div>
    <div class="js-slider-indi indi-2"></div>
    <div class="js-slider-indi indi-3"></div>
  </div>
</div>
