.btn-cal {
  background-color: #021b79;
  color: #fff;
}
.dailyE {
  background-color: #021b79;
  color: #fff;
}
.highlights-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container {
  font-family: "Lato", sans-serif;
}
