<ngx-ui-loader
  fgsType="three-strings"
  overlayColor="#1c1c1c"
  fgsColor="#219ebc"
  pbColor="#219ebc"
  [fgsSize]="200"
></ngx-ui-loader>
<mat-toolbar>
  <button
    type="button"
    (click)="drawer.toggle()"
    mat-icon-button
    class="toggler"
  >
    ☰
  </button>
  <span
    style="
      color: #003060;
      font-size: 30px;
      font-weight: bold;
      background-color: #efff;
      width: 8%;
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      margin-left: 20px;
    "
    >Profile</span
  >
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
  >
    <img class="avatar mat-elevation-z8" src="{{ profile?.image }}" />
    <h4 class="name">Dr.{{ profile?.displayName }}</h4>
    <p class="designation">{{ profile?.department }}</p>
    <hr />
    <a
      mat-list-item
      href=""
      class="nav-item nav-link active"
      routerLink="/home"
      routerLinkActive="active"
      ><mat-icon>home</mat-icon> Home</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      href="/tasks"
      routerLinkActive="active"
      ><mat-icon>assignment</mat-icon>Tasks</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/convolist"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon
      ><span matBadge="" matBadgeOverlap="false">Chat</span></a
    >
    <hr />

    <a mat-list-item class="nav-item nav-link pointer" (click)="logout()">
      <mat-icon>logout</mat-icon>Logout</a
    >
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
      <div class="container">
        <div class="profile-header">
          <div class="profile-img" *ngIf="profile?.image">
            <img [src]="profile?.image" width="200" alt="Profile Image" />
          </div>
          <div class="profile-img" *ngIf="!profile?.image">
            <img src="../../../assets/profile.png" alt="" />
          </div>
          <div class="profile-nav-info">
            <h3 class="user-name" style="color: #003060">
              {{ profile?.displayName }}
            </h3>
            <div class="address" *ngIf="profile?.position">
              <p id="state" class="state" style="font-size: 20px">
                {{ profile?.position }}
              </p>
            </div>
            <div class="address" *ngIf="!profile?.position">
              <div class="alert alert-danger" role="alert">
                Update your profile
              </div>
            </div>
          </div>
        </div>

        <div class="main-bd">
          <div class="left-side">
            <div class="profile-side">
              <p class="user-mail">
                <i class="fa fa-building" aria-hidden="true"></i
                >{{ profile?.department }}
              </p>
              <p class="mobile-no">
                <i class="fa fa-phone"></i> {{ profile?.contact }}
              </p>
              <p class="user-mail">
                <i class="fa fa-envelope"></i> {{ profile?.email }}
              </p>

              <div class="profile-btn">
                <button
                  class="createbtn"
                  mat-raised-button
                  color="warn"
                  id="Create-post"
                  (click)="open(mymodal)"
                >
                  <i class="fa fa-plus"></i> Update Profile
                </button>
              </div>
            </div>
          </div>

          <div class="right-side">
            <div class="container">
              <div class="">
                <h1
                  style="
                    color: #003060;
                    text-decoration: underline;
                    margin-top: 10px;
                  "
                >
                  BIOGRAPHY
                </h1>
                <p style="font-size: 20px; color: black">{{ profile?.bio }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #mymodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            Update your Profile
          </h4>
          <button
            type="button"
            class="close"
            mat-raised-button
            color="warn"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">CLOSE</span>
          </button>
        </div>
        <form
          (ngSubmit)="updateProfile()"
          #quoteForm="ngForm"
          id="form"
          class="card-form"
        >
          <div class="input">
            <input
              type="text"
              class="input-field"
              id="name"
              [(ngModel)]="displayNameInput"
              name="name"
              required
            />
            <label for="name" class="input-label">Full name</label>
          </div>
          <div class="input">
            <label for="profile_picture">Profile Picture</label><br /><br />
            <input
              type="file"
              id="myFile"
              name="filename"
              [(ngModel)]="imageInput"
              name="image"
              (change)="showPreview($event)"
            />
          </div>
          <div class="input">
            <input
              type="text"
              class="input-field"
              id="department"
              [(ngModel)]="departmentInput"
              name="department"
              required
            />
            <label for="department" class="input-label">Department</label>
          </div>
          <div class="input">
            <input
              type="text"
              class="input-field"
              id="position"
              [(ngModel)]="positionInput"
              name="position"
              required
            />
            <label for="position" class="input-label">Position</label>
          </div>
          <div class="input">
            <input
              type="text"
              class="input-field"
              [(ngModel)]="contactInput"
              name="contact"
              required
            />
            <label for="contact" class="input-label">Contact</label>
          </div>
          <div class="input">
            <input
              type="text"
              class="input-field"
              [(ngModel)]="bioInput"
              name="bio"
              required
            />
            <label class="input-label text-area">Bio</label>
          </div>
          <br />
          <button
            class="action-button"
            mat-raised-button
            color="warn"
            (click)="modal.close('Save click')"
          >
            Submit
          </button>
        </form>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- ======================================================================================= -->
