<mat-toolbar>
  <button
    type="button"
    (click)="drawer.toggle()"
    mat-icon-button
    class="toggler"
  >
    ☰
  </button>
  <span
    style="
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      margin-left: 20px;
    "
    ><img src="../../../../assets/images/title.png" alt=""
  /></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
  >
    <div *ngIf="profile?.image">
      <img class="avatar mat-elevation-z8" src="{{ profile?.image }}" />
    </div>

    <div *ngIf="!profile?.image">
      <img
        class="avatar mat-elevation-z8"
        src="../../../assets/profile.png"
        alt=""
      />
    </div>
    <h4 class="name">Dr.{{ profile?.displayName }}</h4>
    <p class="designation">{{ profile?.department }}</p>
    <hr />
    <a
      mat-list-item
      href=""
      class="nav-item nav-link active"
      routerLink="/home"
      routerLinkActive="active"
      ><mat-icon>home</mat-icon> Home</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      href="/tasks"
      routerLinkActive="active"
      ><mat-icon>assignment</mat-icon>Tasks</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/convolist"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon
      ><span matBadge="" matBadgeOverlap="false">Chat</span></a
    >
    <hr />

    <a
      mat-raised-button
      class="nav-item nav-link pointer _logout"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Logout</a
    >
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid _nav_">
      <br />
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="font-size: 20px">
          <li class="breadcrumb-item">
            <a class="_link_" href="/home">Home </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="card p-3 py-4">
        <div class="text-center">
          <div class="address" *ngIf="!profile?.position">
            <div class="alert alert-danger" role="alert">
              Update your profile
            </div>
          </div>
          <div class="profile-img">
            <img [src]="profile?.image" class="rounded-circle" />
          </div>
          <div class="profile-img" *ngIf="!profile?.image">
            <img src="../../../assets/profile.png" alt="" />
          </div>

          <h3 class="mt-2 fade-in-text">{{ profile?.displayName }}</h3>
          <span class="mt-1 clearfix fade-in-text">{{
            profile?.position
          }}</span>

          <div class="row mt-3 mb-3">
            <div class="col-md-4">
              <h5><mat-icon>work</mat-icon></h5>
              <span class="num fade-in-text">{{ profile?.department }}</span>
            </div>
            <div class="col-md-4">
              <h5><mat-icon>phone_android</mat-icon></h5>
              <span class="num fade-in-text">{{ profile?.contact }}</span>
            </div>
            <div class="col-md-4">
              <h5><mat-icon>alternate_email</mat-icon></h5>
              <span class="num fade-in-text">{{ profile?.email }}</span>
            </div>
          </div>

          <hr class="line" />

          <small class="mt-4 fade-in-text">{{ profile?.bio }}</small>
          <div class="social-buttons mt-5">
            <button class="neo-button">
              <i class="bi bi-facebook"></i>
            </button>
            <button class="neo-button">
              <i class="bi bi-linkedin"></i>
            </button>
            <button class="neo-button">
              <i class="bi bi-instagram"></i>
            </button>
            <button class="neo-button">
              <i class="bi bi-whatsapp"></i>
            </button>
            <button class="neo-button">
              <i class="bi bi-twitter"></i>
            </button>
          </div>

          <div class="profile mt-5">
            <button class="profile_button px-5" (click)="open(mymodal)">
              Update profile
            </button>
          </div>
        </div>
      </div>
    </div>
    <ng-template #mymodal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update your Profile</h4>
        <button
          type="button"
          class="close _logout"
          mat-raised-button
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
          style="color: #fff"
        >
          <span aria-hidden="true">CLOSE</span>
        </button>
      </div>
      <p class="text-center">
        <strong><span class="text-danger">*</span>Fill all fields</strong>
      </p>
      <form
        (ngSubmit)="updateProfile()"
        #quoteForm="ngForm"
        id="form"
        class="card-form"
      >
        <div class="input">
          <input
            type="text"
            class="input-field"
            id="name"
            [(ngModel)]="displayNameInput"
            name="name"
            required
          />
          <label for="name" class="input-label">Full name</label>
        </div>
        <div class="input">
          <label for="profile_picture">Profile Picture</label><br /><br />
          <input
            type="file"
            id="myFile"
            name="filename"
            [(ngModel)]="imageInput"
            name="image"
            (change)="showPreview($event)"
            accept=".jpeg, .jpg, .png"
          />
        </div>
        <div class="input">
          <input
            type="text"
            class="input-field"
            id="department"
            [(ngModel)]="departmentInput"
            name="department"
            required
          />
          <label for="department" class="input-label">Department</label>
        </div>
        <div class="input">
          <input
            type="text"
            class="input-field"
            id="position"
            [(ngModel)]="positionInput"
            name="position"
            required
          />
          <label for="position" class="input-label">Position</label>
        </div>
        <div class="input">
          <input
            type="text"
            class="input-field"
            [(ngModel)]="contactInput"
            name="contact"
            required
          />
          <label for="contact" class="input-label">Contact</label>
        </div>
        <div class="input">
          <input
            type="text"
            class="input-field"
            [(ngModel)]="bioInput"
            name="bio"
            required
          />
          <label class="input-label text-area">Bio</label>
        </div>
        <br />
        <button
          class="action-button"
          mat-raised-button
          (click)="modal.close('Save click')"
          [disabled]="
            !bioInput ||
            !displayNameInput ||
            !imageInput ||
            !contactInput ||
            !positionInput ||
            !departmentInput ||
            !imageInput
          "
        >
          Submit
        </button>
      </form>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- ======================================================================================= -->
