<mat-toolbar>
  <button
    type="button"
    (click)="drawer.toggle()"
    mat-icon-button
    class="toggler"
  >
    ☰
  </button>
  <span
    style="
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      margin-left: 20px;
    "
    ><img src="../../../assets/images/title.png" alt=""
  /></span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
  >
    <div *ngIf="profile?.image">
      <img class="avatar mat-elevation-z8" src="{{ profile?.image }}" />
    </div>

    <div *ngIf="!profile?.image">
      <img
        class="avatar mat-elevation-z8"
        src="../../../assets/profile.png"
        alt=""
      />
    </div>
    <h4 class="name">Dr.{{ profile?.displayName }}</h4>
    <p class="designation">{{ profile?.department }}</p>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/home"
      routerLinkActive="active"
      ><mat-icon>home</mat-icon>Home</a
    >

    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/profile"
      routerLinkActive="active"
      ><mat-icon>contact_page</mat-icon>Profile</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      href="/tasks"
      routerLinkActive="active"
      ><mat-icon>assignment</mat-icon>Tasks</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/convolist"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon
      ><span matBadge="" matBadgeOverlap="false">Chat</span></a
    >
    <hr />
    <a
      mat-raised-button
      class="nav-item nav-link pointer _logout"
      *ngIf="user?.uid"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Logout</a
    >

    <!-- <a
      mat-list-item
      class="nav-item nav-link pointer"
      *ngIf="(user | async)?.uid"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Logout</a
    > -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="c-subheader justify-content-between px-3">
      <!-- Breadcrumb-->
      <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item">
          <a href="/home" class="_homeLink"
            ><i class="bi bi-house-door-fill"></i
          ></a>
        </li>
        <li class="breadcrumb-item active" style="color: #fff">Chat Room</li>
        <!-- Breadcrumb Menu-->
      </ol>
    </div>
    <ul class="users text-center" style="margin-top: 80px">
      <li class="person" data-chat="person1">
        <div class="user">
          <h3 class="text-center">
            <span
              >Room Name:
              <span
                class="name fade-in-text"
                style="color: #021b79; font-weight: bold"
                >{{ roomname }}</span
              ></span
            >
          </h3>
        </div>
      </li>
      <!-- <li *ngFor="let chat of this.admin"><h4>Created By: {{chat.admin}}</h4></li>                                          -->
    </ul>
    <div class="selected-user text-center">
      <span
        >Owner:
        <span
          class="name fade-in-text"
          style="color: #021b79; font-weight: bold"
          >{{ profile?.displayName }}</span
        ></span
      >
    </div>
    <div class="content-wrapper">
      <div class="container">
        <div class="container">
          <!-- Page header start -->
          <div class="page-title">
            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <!-- <h5 class="title">Welcome</h5> -->
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"></div>
            </div>
          </div>
          <!-- Page header end -->

          <!-- Content wrapper start -->
          <div class="content-wrapper">
            <!-- Row start -->
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card m-0">
                  <!-- Row start -->

                  <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                      <h2 class="text-center">ROOM USERS</h2>
                      <div class="users-container">
                        <div class="user-card" style="background: transparent">
                          <div
                            class="users-card fade-in-text"
                            *ngFor="let user of users"
                          >
                            <mat-icon>person</mat-icon>
                            <span class="username">{{ user?.chatname }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                      <div class="chat-container">
                        <mat-card class="chat-sec">
                          <div
                            class="animated bounceInUp"
                            *ngFor="let chat of this.chats"
                          >
                            <div
                              class=""
                              text-center
                              *ngIf="
                                chat.type === 'join' || chat.type === 'exit';
                                else message
                              "
                            >
                              <span class="">{{
                                chat.date | date : "medium"
                              }}</span>
                              <span class="">{{ chat.message }}</span>
                            </div>
                            <ng-template #message>
                              <div class="chat-message">
                                <div
                                  class="right-bubble"
                                  [ngClass]="{
                                    'right-bubble': chat.chatname === chatname,
                                    'left-bubble': chat.chatname !== chatname
                                  }"
                                >
                                  <span
                                    class="msg-name"
                                    *ngIf="chat.chatname === chatname"
                                  ></span>
                                  <span
                                    class="msg-name"
                                    *ngIf="chat.chatname !== chatname"
                                    style="text-transform: capitalize"
                                    >{{ chat.chatname }}</span
                                  >
                                  <span class="msg-date">
                                    {{ chat.date | date : "short" }}</span
                                  >
                                  <div
                                    class="msg-edit"
                                    *ngIf="chat.chatname === chatname"
                                  >
                                    <button
                                      mat-icon-button
                                      [matMenuTriggerFor]="menu"
                                      aria-label="Example icon-button with a menu"
                                    >
                                      <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                      <!-- <button mat-menu-item data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
                                                <mat-icon>edit</mat-icon>
                                                <span>Update</span>
                                              </button> -->
                                      <button
                                        mat-menu-item
                                        (click)="deleteMsg(chat.key)"
                                      >
                                        <mat-icon>delete</mat-icon>
                                        <span>Delete</span>
                                      </button>
                                    </mat-menu>
                                  </div>
                                  <p class="chat-text" text-wrap>
                                    {{ chat.message }}
                                  </p>
                                </div>
                              </div>
                            </ng-template>
                          </div>
                        </mat-card>
                        <footer class="sticky-footer">
                          <form
                            class="message-form"
                            [formGroup]="chatForm"
                            (ngSubmit)="onFormSubmit(chatForm.value)"
                          >
                            <mat-form-field class="message-form-field">
                              <input
                                matInput
                                placeholder="Enter message here"
                                formControlName="message"
                                [errorStateMatcher]="matcher"
                              />
                              <mat-error>
                                <span>Enter your message</span>
                              </mat-error>
                              <button
                                type="submit"
                                [disabled]="!chatForm.valid"
                                mat-button
                                matSuffix
                                mat-icon-button
                                aria-label="Send"
                              >
                                <mat-icon>send</mat-icon>
                              </button>
                            </mat-form-field>
                          </form>
                        </footer>
                      </div>
                    </div>
                  </div>
                  <!-- Row end -->
                </div>
              </div>
            </div>
            <!-- Row end -->
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
