<mat-toolbar>
  <!-- <button type="button" (click)="drawer.toggle()" mat-icon-button class="toggler">
    ☰
  </button> -->

  <span
    style="
      color: #003060;
      font-size: 30px;
      font-weight: bold;
      background-color: #efff;
      width: 16%;
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      margin-left: 20px;
    "
    >User-Profiles</span
  >
</mat-toolbar>
<div class="container">
  <br />
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="font-size: 20px">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item"><a href="/directory">Directory</a></li>
      <li class="breadcrumb-item active" aria-current="page">User-Profile</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="profile-header">
    <div class="profile-img" *ngIf="profile?.image">
      <img [src]="profile?.image" width="200" alt="Profile Image" />
    </div>
    <div class="profile-img" *ngIf="!profile?.image">
      <img src="../../../assets/profile.png" alt="" />
    </div>
    <div class="profile-nav-info">
      <h3 class="user-name" style="color: #003060">
        {{ profile?.displayName }}
      </h3>
      <div class="address" *ngIf="profile?.position">
        <p id="state" class="state" style="font-size: 20px">
          {{ profile?.position }}
        </p>
      </div>
    </div>
  </div>

  <div class="main-bd">
    <div class="left-side">
      <div class="profile-side">
        <p class="user-mail">
          <i class="fa fa-building" aria-hidden="true"></i
          >{{ profile?.department }}
        </p>
        <p class="mobile-no">
          <i class="fa fa-phone"></i> {{ profile?.contact }}
        </p>
        <p class="user-mail">
          <i class="fa fa-envelope"></i> {{ profile?.email }}
        </p>
      </div>
    </div>

    <div class="right-side">
      <div class="container">
        <div class="">
          <h1
            style="color: #003060; text-decoration: underline; margin-top: 10px"
          >
            BIOGRAPHY
          </h1>
          <p style="font-size: 20px; color: black">{{ profile?.bio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
