<mat-toolbar>
  <!-- <button type="button" (click)="drawer.toggle()" mat-icon-button class="toggler">
    ☰
  </button> -->

  <span
    style="
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      margin-left: 20px;
    "
    ><img src="../../assets/images/title.png" alt=""
  /></span>
</mat-toolbar>
<div class="_body">
  <div class="c-subheader justify-content-between px-3">
    <!-- Breadcrumb-->
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
      <li class="breadcrumb-item">
        <a href="/home" class="_homeLink"
          ><i class="bi bi-house-door-fill"></i
        ></a>
      </li>
      <li class="breadcrumb-item">
        <a href="directory" class="_homeLink">Directory</a>
      </li>
      <li class="breadcrumb-item active" style="color: #fff">User-Profile</li>
      <!-- Breadcrumb Menu-->
    </ol>
  </div>
  <div class="container d-flex justify-content-center" style="margin-top: 50px">
    <div class="card p-3 py-4">
      <div class="text-center">
        <div class="profile-img" *ngIf="profile?.image">
          <img [src]="profile?.image" class="rounded-circle" />
        </div>
        <div class="profile-img" *ngIf="!profile?.image">
          <img
            src="../../../assets/profile.png"
            class="rounded-circle"
            alt=""
          />
        </div>

        <h3 class="mt-2 fade-in-text">{{ profile?.displayName }}</h3>
        <span class="mt-1 clearfix fade-in-text">{{ profile?.position }}</span>

        <div class="row mt-3 mb-3">
          <div class="col-md-4" *ngIf="profile?.department">
            <h5><mat-icon>work</mat-icon></h5>
            <span class="num fade-in-text">{{ profile?.department }}</span>
          </div>
          <div class="col-md-4" *ngIf="profile?.contact">
            <h5><mat-icon>phone_android</mat-icon></h5>
            <span class="num fade-in-text">{{ profile?.contact }}</span>
          </div>
          <div class="col-md-4">
            <h5><mat-icon>alternate_email</mat-icon></h5>
            <span class="num fade-in-text">{{ profile?.email }}</span>
          </div>
        </div>

        <hr class="line" />

        <small class="mt-4 fade-in-text">{{ profile?.bio }}</small>
        <div class="social-buttons mt-5">
          <button class="neo-button">
            <i class="bi bi-facebook"></i>
          </button>
          <button class="neo-button">
            <i class="bi bi-linkedin"></i>
          </button>
          <button class="neo-button">
            <i class="bi bi-instagram"></i>
          </button>
          <button class="neo-button">
            <i class="bi bi-whatsapp"></i>
          </button>
          <button class="neo-button">
            <i class="bi bi-twitter"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
